Package: _PACKAGE_ 
Version: _VERSION_._BUILD_
Section: flipkart/3p
Priority: standard
Recommends: fk-config-service-confd
Architecture: all
Maintainer: Pricing Dev <pricing-dev@flipkart.com>
Description: Flipkart Customised Solr Package (_VERSION_)
